body
{
    margin: 0;
    padding: 0;
    background: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section
{
    background: url("images.jpg");
    background-size: cover;
    width: 100%;
    height: relative;
    overflow: hidden;
}
.snow2
{
    background: url("circle-symbol-graphic-free-png.webp");
    background-repeat:repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: animateTwo 10s infinite;
    background-size: 10px;
}
.snow3
{
    background: url("circle-symbol-graphic-free-png.webp");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: animateThree 10s infinite;
    background-size: 15px;
}
@keyframes animateOne
{
    0%
    {
        background-position: 0px 0px
    }
    100%
    {
        background-position: 100px 650px
    }
}
@keyframes animateTwo
{
    0%
    {
        background-position: 0px -100px
    }
    100%
    {
        background-position: 0px 650px
    }
}
@keyframes animateThree
{
    0%
    {
        background-position: 0px 100px
    }
    100%
    {
        background-position: 300px 650px
    }
}

.double {
    text-align: center;
    border: double;
}